/* This will effect everything from 0 to 576px */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Oswald:wght@200;400&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  margin: 0;
  font: 0.5rem "Open Sans", sans-serif;
  color: #575757;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.black {
  background: black;
}
h1 {
  font: 200 2rem "Oswald", sans-serif;
}
h2 {
  font: 200 1.5rem "Oswald", sans-serif;
}
h3 {
  font: 200 1.25rem/2rem "Oswald", sans-serif;
}
h4 {
  font: 600 0.8rem "Open Sans", sans-serif;
}
/* HEADER */
header {
  flex-direction: row;
  align-items: center;
}
.socialmedia {
  width: 15.3%;
  justify-content: space-around;
}
/* NAVBAR */
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
}
header ul li a:hover {
  color: orange;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: "";
  margin-top: -8px;
}
.menu-button::after {
  content: "";
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: white;
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
/* HERO */
.hero {
  background: url(../image/hero.jpg) no-repeat;
  background-size: cover;
  color: white;
}
.hero-content {
  width: 8.9rem;
  background: rgba(0, 0, 0, 0.9);
  padding: 2.5rem 0.563rem;
  text-align: right;
}
.hero-content h1 {
  margin: 0 0 1rem 0;
}
.hero-content a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border: 2px solid white;
}
.hero-content a:hover {
  background-color: white;
  color: black;
}
/* FEATURED CONTENT */
.featured-content {
  text-align: center;
  margin: 1.5rem 0;
}
.featured-content a {
  color: #575757;
}
.featured-content a:hover {
  color: orange;
}
.menu-icon {
  display: none;
}
/* PROMO */
.promo {
  background: url(../image/pizza_ad.jpg) no-repeat;
  background-size: cover;
  color: white;
}
.promo-content {
  text-align: center;
  padding: 2.7rem 0.5rem 2.7rem 12.5rem;
}
.promo-content h1 {
  font-weight: 400;
  line-height: 0;
}
/* GALLERY */
.gallery {
  flex-wrap: wrap;
  margin: 5.125rem 0;
}
.gallery-image {
  width: 25%;
}
.gallery img {
  width: 100%;
  height: 100%;
}
/* LOCATION */
.location {
  margin-top: 1rem;
}
.location h1 {
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  background-color: #d9e5d9;
  padding: 1rem 0;
}
.location img {
  width: 100%;
}
/* FOOTER */
footer {
  text-align: center;
  color: #575757;
  padding-bottom: 1rem;
}
.footer-container {
  width: 80.5%;
  margin: 0 auto;
}
footer h2 {
  margin-bottom: 0;
}
footer h4 {
  margin-top: 0.5rem;
  font-weight: 200;
  line-height: 0;
}
.address {
  width: 80.6%;
  margin-bottom: 2rem;
}
.email {
  margin: 0 auto;
  width: 63.6%;
  text-align: center;
}
label {
  font: 200 1.25rem/3rem "Oswald", sans-serif;
}
#mail {
  width: 12rem;
  height: 1rem;
  background: #c1c1c1;
  border: none;
  font: 200 0.5rem "Open Sans", sans-serif;
}
button {
  height: 1rem;
  padding: 0.5rem;
  color: #c2c2c2;
  background: #575757;
  border: none;
  font: 200 0.5rem "Open Sans", sans-serif;
}
footer .email button:hover {
  background: #ebebeb;
  color: black;
}
/* Media Queries */
@media (min-width: 375px) and (max-width: 768px) /* for mobile */ {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #c1c1c1;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  /* Hidden content */
  .socialmedia,
  .gallery {
    display: none;
  }
}
@media (min-width: 576px) /* for mobile */ {
  body {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .hero-content {
    width: 14rem;
  }
  .promo-content {
    padding: 2rem 0 2rem 20rem;
  }
}
@media (min-width: 768px) /* for tablets */ {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
    .promo-content {
    padding: 4rem 0 4rem 24rem;
  }
}
@media (min-width: 992px) /* for laptops */ {
  .container {
    width: 80.7%;
  }
  /* Change font sizes */
  footer h4 {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3,
  label,
  footer h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  /* Change navbar */
  header ul li a {
    color: black;
  }
  /* Change hero content */
  .hero-content {
    width: 20.5rem;
    padding: 4.5rem 3rem;
  }
  /* Change footer */
  .footer-container {
    width: 66%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .address {
    display: block;
  }
  form {
    text-align: left;
  }
  #mail {
    width: 19.5rem;
    height: 1.25rem;
  }
  footer p {
    font-size: 0.7rem;
  }
  button {
    height: 1.25rem;
  }
  /* Hidden content */
  .location,
  .promo {
    display: none;
  }
  /* Shown content */
  .menu-icon {
    display: inline;
  }
  .socialmedia,
  .gallery {
    display: flex;
  }
}
@media (min-width: 1200px) /* for large devices */ {
  header ul li a{
    font-size: 1rem;
  }
  .hero-content {
    width: 30rem;
  }
}
